In [44]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [45]:
# Read the CSV files into DataFrames.
file_path_2020 = '/Users/rygofoss/Desktop/AI Class Homework/Starter_Code-2/Resources/athletic_sales_2020.csv'
file_path_2021 = '/Users/rygofoss/Desktop/AI Class Homework/Starter_Code-2/Resources/athletic_sales_2021.csv'

df_2020 = pd.read_csv(file_path_2020)
df_2021 = pd.read_csv(file_path_2021)

In [46]:
# Display the 2020 sales DataFrame
print("2020 Sales DataFrame:")
print(df_2020)

2020 Sales DataFrame:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [47]:
# Display the 2021 sales DataFrame
print("2021 Sales DataFrame:")
print(df_2021)

2021 Sales DataFrame:
         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [82]:
# Check the 2020 sales data types.
print("2020 Sales Data Types:")
df_2020.info()

2020 Sales Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB

In [83]:
# Check the 2021 sales data types.
print("2021 Sales Data Types:")
df_2021.info()

2021 Sales Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB

#### Combine the sales data by rows.

In [50]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)

# Reset the index
combined_df.reset_index(drop=True, inplace=True)

# Display the combined DataFrame
print("Combined Sales DataFrame:")
print(combined_df)

Combined Sales DataFrame:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [51]:
# Check if any values are null.
null_values = combined_df.isnull().sum()
print("Null Values in Combined DataFrame:")
print(null_values)

Null Values in Combined DataFrame:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [52]:
# Check the data type of each column
print("Data Types of Combined DataFrame Columns:")
print(combined_df.dtypes)

Data Types of Combined DataFrame Columns:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [85]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'], format='%m/%d/%y')

# Display the combined DataFrame to check the date conversion
print("Combined Sales DataFrame with Converted Invoice Dates:")
print(combined_df.head())  # Display the first few rows to verify
print(combined_df.tail())  # Display the last few rows to verify

Combined Sales DataFrame with Converted Invoice Dates:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732   2020-01-01  Northeast      New York
1  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3  Foot Locker      1185732   2020-01-01  Northeast      New York
4  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet
         retailer  retailer_id invoice_date     region         state  \
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city        product  price_per_unit  units_sold  total_sales  \
9638  Philadelphia  Men's Apparel              63          47         2961
9639  Philadelphia  Men's Apparel              46          56         2576
9640      Portland  Men's Apparel              52          36         1872
9641      Portland  Men's Apparel              55         125        68750
9642  Philadelphia  Men's Apparel              70         175       122500

      operating_profit sales_method
9638           1362.06       Online
9639           1004.64       Outlet
9640            692.64       Online
9641          17187.50       Outlet
9642          42875.00       Outlet

In [54]:
# Confirm that the "invoice_date" data type has been changed.
print("Data Types of Combined DataFrame Columns after Conversion:")
print(combined_df.dtypes)

Data Types of Combined DataFrame Columns after Conversion:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [68]:
# Show the number products sold for region, state, and city.

grouped_df = combined_df.groupby(['region', 'state', 'city']).agg({'units_sold': 'sum'}).reset_index()


# Rename the sum to "Total_Products_Sold".
grouped_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
top_5_results = grouped_df.sort_values(by='Total_Products_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Regions with the Most Products Sold:")
print(top_5_results)

Top 5 Regions with the Most Products Sold:
       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [70]:
# Create a pivot table
pivot_table = pd.pivot_table(combined_df, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')

# Rename the column to "Total_Products_Sold"
pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Sort the results by "Total_Products_Sold" in descending order and show the top 5 results
top_5_results = pivot_table.sort_values(by='Total_Products_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Regions with the Most Products Sold:")
print(top_5_results)

Top 5 Regions with the Most Products Sold:
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [71]:
# Show the total sales for the products sold for each region, state, and city.
grouped_df = combined_df.groupby(['region', 'state', 'city']).agg({'total_sales': 'sum'}).reset_index()


# Rename the "total_sales" column to "Total Sales"
grouped_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = grouped_df.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Regions with the Most Sales:")
print(top_5_results)

Top 5 Regions with the Most Sales:
       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [73]:
# Show the total sales for the products sold for each region, state, and city.

pivot_table = pd.pivot_table(combined_df, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Regions with the Most Sales:")
print(top_5_results)

Top 5 Regions with the Most Sales:
                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [74]:
# Show the total sales for the products sold for each retailer, region, state, and city.
grouped_df = combined_df.groupby(['retailer', 'region', 'state', 'city']).agg({'total_sales': 'sum'}).reset_index()

# Rename the "total_sales" column to "Total Sales"

grouped_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = grouped_df.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Retailers with the Most Sales:")
print(top_5_results)

Top 5 Retailers with the Most Sales:
        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [75]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table = pd.pivot_table(combined_df, values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Retailers with the Most Sales:")
print(top_5_results)

Top 5 Retailers with the Most Sales:
                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [76]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_df = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

print("Women's Athletic Footwear Sales Data:")
print(womens_footwear_df)

Women's Athletic Footwear Sales Data:
         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [77]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
grouped_df = womens_footwear_df.groupby(['retailer', 'region', 'state', 'city']).agg({'units_sold': 'sum'}).reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_results = grouped_df.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Retailers with the Most Women's Athletic Footwear Sold:")
print(top_5_results)

Top 5 Retailers with the Most Women's Athletic Footwear Sold:
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [78]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table = pd.pivot_table(womens_footwear_df, values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Retailers with the Most Women's Athletic Footwear Sold:")
print(top_5_results)

Top 5 Retailers with the Most Women's Athletic Footwear Sold:
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [79]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table = pd.pivot_table(womens_footwear_df, values='total_sales', index='invoice_date', aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print("Pivot Table of Total Sales by Invoice Date for Women's Athletic Footwear:")
print(pivot_table)

Pivot Table of Total Sales by Invoice Date for Women's Athletic Footwear:
              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [80]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table.resample('D').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_daily_sales = daily_sales.sort_values(by='Total Sales', ascending=False)

print("Sorted Daily Sales of Women's Athletic Footwear:")
print(sorted_daily_sales)

Sorted Daily Sales of Women's Athletic Footwear:
              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
...                   ...
2021-02-27              0
2021-02-25              0
2020-07-30              0
2020-07-31              0
2021-01-01              0

[727 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [81]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table.resample('W').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False)
print("Sorted Weekly Sales of Women's Athletic Footwear:")
print(sorted_weekly_sales)

Sorted Weekly Sales of Women's Athletic Footwear:
              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]